{{define "nav"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="/">Дашборд</a>
                </li>
                <li>
                    <a href="/campaigns">Кампании</a>
                </li>
                <li>
                    <a href="/groups">Пользователи и группы</a>
                </li>
                <li> <a href="/templates">Шаблоны писем</a>
                </li>
                <li>
                    <a href="/landing_pages">Лендинг страницы</a>
                </li>
                <li>
                    <a href="/sending_profiles">Профили SMTP</a>
                </li>
                <li>
                    <a href="/settings">Параметры аккаунта</span></a>
                </li>
                {{if .ModifySystem}}
                <li>
                    <a href="/users">Управление пользователями<span class="nav-badge badge pull-right">Админ</span></a>
                </li>
                <li>
                    <a href="/webhooks">Вебхуки<span class="nav-badge badge pull-right">Админ</span></a>
                </li>
                {{end}}
                <li>
                    <hr>
                </li>
                <li>
                    <a href="https://docs.getgophish.com/user-guide/">Руководство пользователя</a>
                </li>
                <li>
                    <a href="https://docs.getgophish.com/api-documentation/">API Документация</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{{end}}
