{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1 class="page-header">Параметры</h1>
    </div>
    <div id="flashes" class="row"></div>
    {{template "flashes" .Flashes}}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active" role="mainSettings"><a href="#mainSettings" aria-controls="mainSettings" role="tab"
                data-toggle="tab">Параметры аккаунта</a></li>
        <li role="uiSettings"><a href="#uiSettings" aria-controls="uiSettings" role="tab" data-toggle="tab">Настройки
                интерфейса</a></li>
        <li role="reportingSettings"><a href="#reportingSettings" aria-controls="reportingSettings" role="tab" id="reporttab"
            data-toggle="tab">Настройки отчетов</a></li>
    </ul>
    <!-- Tab Panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="mainSettings">
            <br />
            {{if .ModifySystem }}
            <div class="row">
                <label class="col-sm-2 control-label form-label">Версия Gophish</label>
                <div class="col-md-6">
                    <label class="form-label">{{.Version}}</label>
                </div>
            </div>
            <br />
            {{end}}
            <div class="row">
                <label for="api_key" class="col-sm-2 control-label form-label">API ключ:</label>
                <div class="col-md-6">
                    <input type="text" id="api_key" onclick="this.select();" value="{{.User.ApiKey}}"
                        class="form-control" readonly />
                </div>
                <form id="apiResetForm">
                    <button class="btn btn-primary"><i class="fa fa-refresh" type="submit"></i> Сброс</button>
                    <input type="hidden" name="csrf_token" value="{{.Token}}" />
                </form>
            </div>
            <br />
            <form id="settingsForm">
                <div class="row">
                    <label for="username" class="col-sm-2 control-label form-label">Имя пользователя:</label>
                    <div class="col-md-6">
                        <input type="text" id="username" name="username" value="{{.User.Username}}"
                            class="form-control" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label for="current_password" class="col-sm-2 control-label form-label">Старый пароль:</label>
                    <div class="col-md-6">
                        <input type="password" id="current_password" name="current_password" autocomplete="off"
                            class="form-control" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label for="new_password" class="col-sm-2 control-label form-label">Новый пароль:</label>
                    <div class="col-md-6">
                        <input type="password" id="password" name="new_password" autocomplete="new-password"
                            class="form-control" />
                        <div class="hidden" id="password-strength-container">
                            <div class="progress" id="password-strength">
                                <div id="password-strength-bar" class="progress-bar" role="progressbar"
                                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span id="password-strength-description"></span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <label for="confirm_new_password" class="col-sm-2 control-label form-label">Подтвердить новый
                        пароль:</label>
                    <div class="col-md-6">
                        <input type="password" id="confirm_new_password" name="confirm_new_password" autocomplete="off"
                            class="form-control" />
                    </div>
                </div>
                <input type="hidden" name="csrf_token" value="{{.Token}}" />
                <br />
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Сохранить</button>
            </form>
            <br />
        </div>
        <div role="tabpanel" class="tab-pane" id="uiSettings">
            <br />
            <div class="checkbox checkbox-primary">
                <input id="use_map" type="checkbox">
                <label for="use_map">Показывать карту результатов кампании</label>
            </div>
        </div>
        <!-- Reporting Settings Begin -->
        <div role="tabpanel" class="tab-pane" id="reportingSettings">
            <form id="imapForm" >
            <br />
            <div class="row">
                <div class="col-md-6">
                    Отслеживать IMAP на предмет сообщений электронной почты, о которых сообщают пользователи.
                </div>
             </div>
            <br />

            <div class="row">
                <div class="col-md-6">
                <div class="checkbox checkbox-primary">
                    <input id="use_imap" type="checkbox">
                    <label for="use_imap">Включить мониторинг учетной записи электронной почты</label>
                </div>
                </div>
             </div>
            <br />

            
            <div class="row">
                <label for="imaphost" class="col-sm-2 control-label form-label">IMAP сервер:</label>
                <div class="col-md-6">
                    <input type="text" id="imaphost" name="imaphost" placeholder="imap.example.com"
                        class="form-control" />
                </div>
            </div>
            <br />

            <div class="row">
                <label for="imapport" class="col-sm-2 control-label form-label">IMAP порт:</label>
                <div class="col-md-6">
                    <input type="text" id="imapport" name="imapport" placeholder="993"
                        class="form-control" />
                </div>
            </div>
            <br />

            <div class="row">
                <label for="imapusername" class="col-sm-2 control-label form-label">IMAP Пользователь:</label>
                <div class="col-md-6">
                    <input type="text" id="imapusername" name="imapusername" placeholder="Пользователь"
                        class="form-control" />
                </div>
            </div>
            <br />

            <div class="row">
                <label for="imappassword" class="col-sm-2 control-label form-label">IMAP Пароль:</label>
                <div class="col-md-6">
                    <input type="password" id="imappassword" name="imappassword" placeholder="Пароль" autocomplete="off"
                        class="form-control" />
                </div>
            </div>
            <br />


            <div class="row">
                <label for="use_tls" class="col-sm-2 control-label form-label">Использовать TLS:</label>
                <div class="col-md-6">
                    <div class="checkbox checkbox-primary">
                        <input id="use_tls" type="checkbox">
                        <label for="use_tls"></label>
                    </div>
                    
                </div>
            </div>

             <!-- Advanced Settings-->
            <div id="advancedarea" style="display: none;">
                <hr>
                <div class="row">
                <label for="folder" class="col-sm-2 control-label form-label">Папка:</label>
                    <div class="col-md-6">
                        <input type="text" id="folder" name="folder" placeholder="Оставьте пустым, чтобы использовать INBOX по умолчанию."
                            class="form-control" />
                    </div>
                </div>
                <br />

                <div class="row">
                    <label for="folder" class="col-sm-2 control-label form-label" data-toggle="tooltip" title="Как часто проверять наличие новых писем. Минимум 30 секунд.">
Частота опроса:</label>
                        <div class="col-md-6">
                            <input type="number" id="imapfreq" name="imapfreq" placeholder="Оставьте пустым для значения по умолчанию (каждые 60 секунд)."
                                class="form-control" />
                        </div>
                    </div>
                    <br />
        
                <div class="row">
                    <label for="restrictdomain" class="col-sm-2 control-label form-label" data-toggle="tooltip" title="Проверяйте электронные письма, отправленные только с указанного домена.">Ограничение по домену:</label>
                    <div class="col-md-6">
                        <input type="text" id="restrictdomain" name="restrictdomain" placeholder="например widgets.com. Оставьте пустым для всех доменов."
                            class="form-control" />
                    </div>
                </div>
                <br />

                <div class="row">
                    <label for="ignorecerterrors" class="col-sm-2 control-label form-label" data-toggle="tooltip" title="Игнорируйте распространенные ошибки сертификатов, такие как самоподписанные сертификаты (подвергает вас атакам MiTM — используйте осторожно!)">Ignore Certificate Errors:</label>
                    <div class="col-md-6">
                        <div class="checkbox checkbox-primary">
                            <input id="ignorecerterrors" type="checkbox">
                            <label for="ignorecerterrors"></label>
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <label for="deletecampaign" class="col-sm-2 control-label form-label" data-toggle="tooltip" title="Удаляйте электронные письма кампании после того, как о них сообщили.">Удалить электронные письма кампаний:</label>
                    <div class="col-md-6">
                        <div class="checkbox checkbox-primary">
                            <input id="deletecampaign" type="checkbox">
                            <label for="deletecampaign"></label>
                        </div>
                        
                    </div>
                </div>
                <br />
        
                <div class="row" id="lastlogindiv">
                <label for="lastlogin" class="col-sm-2 control-label form-label">Последний успешный вход:</label>
                <div class="col-md-6">
                    <input type="text" id="lastlogin" name="lastlogin" placeholder="Првоерка..." disabled
                        class="form-control border-0" />
                    </div>
                </div>
                <br />
                <input type="hidden" id="lastloginraw" name="lastloginraw" value="">

            </div>

            <div class="row">
                <label for="advancedsettings" class="col-sm-2 control-label form-label"></label>
                <div class="col-md-6 text-right">
                    <button class="btn-xs btn-link" id="advanced" type="button">Расширенные настройки</button>
                </div>
            </div>

            <button class="btn btn-primary" id ="savesettings" type="button"><i class="fa fa-save"></i> Сохранить</button>
            <button class="btn btn-primary" id="validateimap" type="button"><i class="fa fa-wrench"></i> Тестирование настроек</button>


        </form>
        </div>
        <!-- Reporting Settings End -->
    </div>
</div>
{{end}} {{define "scripts"}}
<script src="/js/dist/app/passwords.min.js"></script>
<script src="/js/dist/app/settings.min.js"></script>
{{end}}
